/* GLobal */
html {
  scroll-behavior: smooth;
  }
body{
  margin:0;
  padding: 0;
  background: #fff !important;
  background: #f6f9fc !important;
  font-family: poppins;
}
* ul li, a{
  text-decoration: none !important;
  list-style-type: none !important;
}
.row{
  margin:0px;
}
h2,h3{}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body{
  font-family: poppins;
}
/* ScrollBar Customizations */
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #ddd;
}
body::-webkit-scrollbar-thumb {
  background-color: #a734fd !important;
  border-radius: 20px;
  border: 3px solid #ddd;
}
/* ScrollBar Customizations */

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.mybutton{
    display: inline-block;
    padding: 1rem 4.5rem;
    color: #fff;
    border: none;
    background: linear-gradient(to right, rgba(79,26,126,1) 0%, rgba(238,45,158,1) 100%);
    background: -webkit-linear-gradient(left, rgb(38, 53, 70) 0%, rgb(27, 84, 250) 100%);
    transition: all 0.5s ease-in-out !important;
  }
  .mybutton:hover{
    color: #e7e7e7;
    background: -webkit-linear-gradient(right, rgb(38, 53, 70) 0%, rgb(27, 84, 250) 100%);
  }
/* Container */

/*header*/
header{
  min-height: 700px;
  height: 100%;
/*  background-image: url(../images/components/blob.svg);
  background-position: left;
  background-size:auto 100%;
  background-position-x: -2px;
  background-position-x: -165px;
  background-repeat: no-repeat;*/
  background: #00000082;
  background: #2c3c5099;
  background: #2c3c50;


}
header .header-img{
  position: absolute;
  left:-2px;
}
header .header-img-right1{
  width: 100%;
  max-width: 480px;
  margin-top: 120px;
  float: right;
}
header .header-inner.navigation{
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 6px 12px;
  transition: all 0.3s ease-in-out;
  background: #fff;
}
.navbar-scrolled{
  background: #ffffffb8;
  background: #ffffffd4;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
header .header-inner img{
  width: 90px;
}

.my-navbar {
  padding: 0;
  margin-right: 0px;
  margin-top: 8px;
}
.my-navbar ul{
  padding: 0;
}
.my-navbar ul li{
  padding: 10px;
  display: inline-block;
  font-family: poppins;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  color: #2c3c50;
  transition: all 0.3s ease-in-out;
}
.inner-popup .p-header .goto-mobile-version.mybutton{
    padding: 1rem 2rem;
}
.my-navbar ul button.goto-mobile-version{
  margin-top: 6px;
  padding: 14px 20px;
  float: right;
}
.my-navbar button.btn.mybutton.goto-mobile-version i {
    font-size: 22px;
}
.my-navbar button.btn.mybutton.goto-mobile-version i:last-child {
  font-size: 26px;
}

.my-navbar ul li:hover i{
  color: #a735fd;
  color: #FFDE00;
  color: #FEC72C;
}
.my-navbar ul li i{
  display: table;
  margin: 0 auto;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
}
.intro {
  padding: 2rem;
  position: relative;
  height: 100%;
}
.intro{
    padding: 8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: inherit;
}
.intro .intro-inner{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: contents;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    padding: 0rem 3rem;
    margin-top: 7rem;
    color: #ffffff;
}
.intro .intro-inner h3{
  font-size: 1.1rem;
  font-weight: 200;
}
.intro .intro-inner span.heading-cover h1{
  font-size: 4rem;
  font-weight: 600;
}
.intro .intro-inner span.heading-cover p{
  font-size: 1.1rem;
  font-weight: 300;
  display: block;
  /*text-align: right;*/
  /*float: right;*/
  margin-right: 3rem;
}
.intro .intro-inner hr{
  width: 100%;
  border: 1px dashed #ffffff5e;
}

.intro .intro-inner h2{

}

.intro-button-cover{
  padding: 3rem 0 0 0;

}
.intro-button-cover button.btn-getstarted{
    border: 1px solid #ffffff;
    background: none;
    transition: all 0.2s ease-in-out;
}
.intro-button-cover button.btn.btn-getstarted:hover {
    color: #2c3c50;
    background: #fff;
}
/*header*/


/* right bar launcher */
.theme-popup .theme-changer-popup {
    right: 0px;
}
.theme-changer-popup {
    position: fixed;
    top: 0;
    right: -180px;
    bottom: 0;
    z-index: 10000;
    min-height: 100%;
    background: #fff;
    width: 180px;
    transition: width ease 0.2s;
    box-shadow: 0px 5px 10px 1px rgba(80,80,80, 0.2);
    background-color: rgba(250, 250, 250, 0.95);
    transition: all 0.3s;
}
.theme-changer-popup .outer-popup {
    position: relative;
}
.theme-changer-popup .inner-popup .inner-nody.menu_div {
    overflow-y: scroll;
    height: calc(95vh - 230px);
}
.theme-changer-popup .inner-popup .inner-nody.menu_div::-webkit-scrollbar {
  width: 10px;
}
.theme-changer-popup .inner-popup .inner-nody.menu_div::-webkit-scrollbar-track {
  background: #ddd;
}
.theme-changer-popup .inner-popup .inner-nody.menu_div::-webkit-scrollbar-thumb {
  background-color: #a734fd;
  border-radius: 30px;
  border: 3px solid #ddd;
}


.theme-changer-popup .outer-popup .icon {
    display: none;
    left: -65px;
    border-radius: 50% 0 0 50%;
    top: 20px;
    padding: 12px 13px 12px 12px;
    z-index: 1;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.95);
    box-shadow: -3px 0px 7px 0px rgba(80, 80, 80, 0.33);
}
.theme-changer-popup .outer-popup .icon button {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 50%;
    border: 0;
    font-size: 22px;
    background-image: linear-gradient(-45deg, #3f51b5 -30%, #3f51b5 15%, #304ffe 100%);
}
.theme-changer-popup .outer-popup .inner-popup .p-header {
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0px 20px rgba(36, 46, 65, 0.06);
}
.theme-changer-popup .outer-popup .inner-popup .p-body {
    /*padding: 15px;*/
}
.theme-changer-popup .outer-popup .inner-popup .p-body .inner-nody {
    box-shadow: 0px 1px 3px 0px rgba(142, 142, 142, 0.2), 0px 1px 1px 0px rgba(243, 243, 243, 0.14), 0px 2px 1px -1px rgba(204, 204, 204, 0.12);
    padding: 0px 0px;
    background-color: #fff;
    border-radius: 8px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.setrightpos{
  right: 0px !important;
}
.unsetrightpos{
  right: -360px !important;
}



/*//menu//*/
.inner-nody.menu_div ul {
  padding-left:0; 
  margin-bottom: 0;
}
.inner-nody.menu_div ul li{
  display: block;
  padding: 12px 0 12px 20px;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #c8adf9;
  transition: all 0.2s;
}
.inner-nody.menu_div ul a:last-child li{
  border-bottom: 0;
}
.inner-nody.menu_div ul li i{
  margin-right: 14px;
}
.inner-nody.menu_div ul li:hover{
  color: #FEC72C;
}
.inner-nody.menu_div ul li:hover i{
  color: #FEC72C;
}
/*//menu//*/

.change-color-mode {
  display: block;
  font-size: 16px;
}
label {
   /* position: absolute;
    right: 20px;*/
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
input:checked + .slider {
    background-color: #ffcc41;
}
.slider.round {
    border-radius: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2c3c50;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



/*??YOUR NEED*/
#yourneed{
  /*border: 1px solid blue;*/
  padding: 6rem 0 2rem 0;
  background: #fff !important;
}
#yourneed .yourneed-cover{
  /*border: 1px solid red;*/
}
.yourneed-inner-left {
    padding: 2rem 2rem;
}
.yourneed-inner-left .upper-bar{
    padding: 5px;
    height: 8px;
    width: 50px;
    border-top: 5px solid #a734fd;
    display: inline-block;
    transition: all 0.2s;
}
.yourneed-inner-left h2 {
    font-size: 2.3rem;
    font-weight: 600;
    color:#2c3c50;
    margin-bottom: 2rem;
}
.yourneed-inner-left button.btn-exploremore{
  margin: 2rem 0;
}
.yourneed-inner-right{
  padding: 0rem 0;
}
.yourneed-inner-right .need-box .upper-bar{
  padding: 2px;
  height: 10px;
  width: 30%;
  border-top: 5px solid #a734fd;
  display: inline-block;
  transition: all 0.2s;
  margin-top: 10px;
}
.need-box {
    border-radius: 10px;
    padding: 1rem 2rem;
    min-height: 260px;
    text-align: left;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 38px #e8e8e8;
    border: 1px solid #fff;
}
.need-box img{
  width: 100%;
  max-width: 95px;
  /* margin: 0 auto; */
  display: block;
  }
.yourneed-inner-right .row div:nth-child(2) .need-box,
.yourneed-inner-right .row div:nth-child(4) .need-box{
  margin-top: 30px;
}
.need-box:hover{
    cursor: pointer;
    border: 1px solid #2c3c50;
}
.need-box i {
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}
.need-box h3 {
    font-size: 1.3rem;
}
/*??YOUR NEED*/


#solution{
  padding-top: 4.3rem;
  padding-bottom: 0;
  background: #fff !important;
}
#solution .solution-cover{}
#solution .solution-cover .solution-inner-left{}
#solution .solution-cover .solution-inner-left img.solution-img-left{
  max-width: 500px;
  width: 100%;
}
#solution .solution-cover .solution-inner-right{    
  padding: 2rem 0;
  padding-bottom: 1rem;
}
#solution .solution-cover .solution-inner-right .upper-bar{
  padding: 5px;
  height: 8px;
  width: 50px;
  border-top: 5px solid #a734fd;
  display: inline-block;
  transition: all 0.2s;
}    
#solution .solution-cover .solution-inner-right h2{
  font-size: 2.2rem;
  font-weight: 600;
  color: #2c3c50;
  margin-bottom: 2rem;
}    
#solution .solution-cover{}

#solution .solution-carousel .owl-stage-outer {
  padding: 0 1rem;
}
#solution .solution-carousel .owl-stage {
  padding: 2rem 0px;
}
#solution .solution-carousel .owl-item{
  margin-left: -3px;  
}
#solution .solution-carousel .owl-item .solution-item img {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
}
#solution .solution-carousel .owl-item .solution-item{
  height: 240px;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid rgba(1, 1, 1, 0);
  transition: all 0.3s;
}
/*#solution .owl-carousel .owl-item.active:nth-child(2)  .solution-item{*/
#solution .solution-carousel .owl-item.active.center .item .solution-item{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  /*border: 2px solid #a734fd;*/
}
#solution .solution-carousel .owl-item .solution-item:hover{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border: 1px solid #2c3c50;
}
#solution .solution-carousel .owl-item .solution-item h6{
  text-align: center; 
  padding: 0.5rem 0;
}
#solution .owl-theme .owl-nav{
  text-align: right;
  margin-top: -45px;
}
#solution .owl-theme .owl-nav button.owl-prev{display: none; }
#solution .owl-theme .owl-nav button.owl-next{
  background-image: url(../icons/right.png)!important;
  background-size: 50px !important;
  background-repeat: no-repeat!important;
  right: 10px;
  bottom: -80px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
#solution .owl-theme .owl-nav button.owl-next:hover{
  filter: saturate(0.2);
  right: 0px;
}
#solution .owl-theme .owl-nav button.owl-next span{
  visibility: hidden !important;
  padding: 0 12px;
}



#solution .solution-carousel .owl-nav button.owl-prev,.solution-carousel .owl-nav button.owl-next{
  background: none !important;
  padding: 0px 10px !important;
  color: #a734fd !important;
  font-size: 50px !important;

}
#solution .solution-carousel .owl-nav button.owl-prev span,.solution-carousel .owl-nav button.owl-next span{}


/*??CLIENT*/
#clients{
  padding: 8rem 0;
}

.client-item {
  margin: 0 auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 210px;
  flex-direction: column;
}
.client-item img{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*??CLIENT*/


/*portfolio NEW*/
section#NEWPORTFOLIO {
  padding-top: 7rem;
  /*padding-bottom: 2rem;*/
  background: #fff !important;
}
section#NEWPORTFOLIO .portfolio-header span.upper-bar{
  padding: 5px;
  height: 8px;
  width: 50px;
  border-top: 5px solid #a734fd;
  display: block;
  margin: 0 auto;  
}
section#NEWPORTFOLIO .portfolio-header h2{
  font-size: 2.2rem;
  font-weight: 600;
  position: relative;
  z-index: 99;
  color:#2c3c50;
}
#port-mobile-tab{
  /*border: 1px solid #ddd;*/
  position: relative;
}
#port-mobile-tab img.comp-img-dev{
  position: absolute;
  width: 220px;
  right: 40px;
  top: -25px;
}
#port-mobile-tab .nav-tabs .nav-item.show, #port-mobile-tab .nav-tabs .nav-item.active p, #port-mobile-tab .nav-tabs .nav-item.active i {
  color: #2c3c50;
}
#port-mobile-tab .nav-tabs .nav-item,
#port-web-tab .nav-tabs .nav-item{
  text-align: center;
  padding: 1rem 1rem 0 1rem;
}
#port-mobile-tab .nav-tabs .nav-item p, #port-mobile-tab .nav-tabs .nav-item i,
#port-web-tab .nav-tabs .nav-item p, #port-web-tab .nav-tabs .nav-item i
{
  color: #2c3c50;
  transition: all 0.3s ease-in-out;
}
#port-mobile-tab .nav-tabs .nav-item i,
#port-web-tab .nav-tabs .nav-item i
{
  font-size: 2.5em;
  padding-bottom: 0.2em;
}
#port-mobile-tab .nav-tabs .nav-item p, #port-mobile-tab .nav-tabs .nav-item i,
#port-web-tab .nav-tabs .nav-item p, #port-web-tab .nav-tabs .nav-item i 
{
  color: #2c3c50;
  transition: all 0.3s ease-in-out;
}
#port-mobile-tab .nav-tabs .nav-item.show, #port-mobile-tab .nav-tabs .nav-item.active p, #port-mobile-tab .nav-tabs .nav-item.active i,
#port-web-tab .nav-tabs .nav-item.show, #port-web-tab .nav-tabs .nav-item.active p, #port-web-tab .nav-tabs .nav-item.active i {
  color: #a734fd;
}
#port-mobile-tab .port-header{}
#port-mobile-tab .portfolio div h1.port-title,
#port-web-tab .portfolio div h1.port-title
{
    font-size: 1.8rem;
    font-weight: 500;
    color: #2c3c50;
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 10px;
    z-index: 99;
}
.port-web-owl .owl-nav{
  display: none;
}
.port-mobile-owl,.port-web-owl{
    //height: 200px;
    position: relative!important;
}
.port-mobile-owl .port-mobile-item,.port-web-owl .port-mobile-item{
    padding: 0px;
    height: auto;
    border-radius: 10px;
}
.port-mobile-owl .owl-item,.port-web-owl .owl-item{
  transition: all 0.3s ease-in-out;
}
.port-mobile-owl .port-content,.port-web-owl .port-content{
  height: auto;
  color:#1B6FCF;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.port-mobile-owl .port-mobile-item .port-content img,.port-web-owl .port-mobile-item .port-content img{
  border-radius: 10px;
}
.port-mobile-owl .port-mobile-item h3, .port-web-owl .port-mobile-item{
    padding: 0px;
    font-weight: 600;
    font-size: 30px;
}
.port-mobile-owl button.owl-prev
{
  left: -140px;
  float: left;
}
.port-mobile-owl button.owl-next{
  right: -140px;
  float: right;
}
.port-mobile-owl .owl-next span,
.port-mobile-owl .owl-prev span
{
  padding: 0 10px;
  visibility: hidden;
}
.port-mobile-owl .owl-nav button.owl-next,
.port-mobile-owl .owl-nav button.owl-prev{
  position: relative;
  bottom: 60px;
  background-image: url(../icons/right.png)!important;
  background-size: 50px !important;
  background-repeat: no-repeat!important;
  padding: 10px 25px !important;
  transition: all 0.3s ease-in-out;
  right: 0;
  left: 0;
}
.port-mobile-owl .owl-nav button.owl-prev{
  transform: rotateY(180deg);
}
.port-mobile-owl .owl-nav button.owl-next:hover{
  filter: saturate(0.2);
  left: 5px !important;
 }
.port-mobile-owl .owl-nav button.owl-prev:hover{
  filter: saturate(0.2);
  left: -5px;
}

.port-mobile-owl .owl-next,.port-mobile-owl .owl-prev,
.port-web-owl .owl-next,.port-web-owl .owl-prev
{
    width: 30px !important;
    border-radius: 30px !important;
}
.port-mobile-owl .owl-prev span,.port-mobile-owl .owl-next span,
.port-web-owl .owl-prev span,.port-web-owl .owl-next span
{
    font-size: 20px;
    border-radius: 30px;
}
.port-mobile-owl .owl-next:hover,.port-mobile-owl .owl-prev:hover,
.port-web-owl .owl-next:hover,.port-web-owl .owl-prev:hover
{
  background: #6AA2FF !important; 
}
.port-mobile-owl .owl-item.active.center:active .port-content,
.port-web-owl .owl-item.active.center:active .port-content,
{
  background: #1B6FCF !important;
  color:#fff !important;
  cursor: pointer;
}
.port-mobile-owl .owl-item:hover .port-content,
.port-web-owl .owl-item:hover .port-content
{
box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 40px;
-webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 40px;
-moz-box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 40px;
}
.port-mobile-owl .owl-item.active:hover .port-content,
.port-web-owl .owl-item.active:hover .port-content
{
  background: none !important;
  color:#fff !important;
  cursor: pointer;
  transform: scale(1.1);
  //background-image: url(../images/images.png) !important;
  background-position: fixed !important;
  background-repeat: no-repeat !important;
  background-size:100% 100% !important;
  background-clip: initial  !important;
}
.port-mobile-owl .owl-stage-outer{
  padding: 4rem 0;
}
.port-web-owl .owl-stage-outer
{
  padding: 6rem 0;
}
#port-mobile-owl-ios .port-mobile-owl .port-mobile-item .port-content img{
  border-radius: 0px;
}


.port-web-owl .owl-item.active.center{
    //-webkit-transform: translateZ(0) scale(1, 1);
    border-radius: 8px!important;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
   -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.61);
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.61);

    z-index: 200!important;
}
/*Portfolio / blog styles ENDS here*/

/*Web/Graphics starts*/
.my-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 1rem;
}
.my-column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 1rem;
}

.my-column img {
  /*margin: 0 20px;*/
  margin-top: 30px;
  padding: 0 30px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.050);
  box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.my-column img:hover {
  background: #a734fd;
  color: #fff;
  cursor: pointer;
}

/*Web/Graphics ends*/

/*portfolio NEW ENDS*/




/*PORTFOLIO OLD*/
#portfolio{
  /*border: 1px solid blue;*/
  padding: 3rem 0 2rem 0;
}
#portfolio .portfolio-cover{
  /*border: 1px solid red;*/
}
#portfolio .portfolio-inner-left {
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
}
#portfolio .portfolio-inner-left span.upper-bar{
  padding: 5px;
  height: 8px;
  width: 50px;
  border-top: 5px solid #a734fd;
  display: block;
  transition: all 0.2s;
  margin: 0 auto;
}
#portfolio .portfolio-inner-right .row > div {
  padding: 16px;
}
#portfolio .portfolio-inner-right h5{
  text-align: left;
  font-size: 16px;
}
#portfolio .portfolio-inner-left p{

}
#portfolio .portfolio-inner-right .portfolio-box{
  border-radius: 10px;
  padding: 1.5rem 0.7rem;
  padding-bottom: 0.5rem;
  text-align: left;
  transition: all 0.2s ease-in-out;
  /*box-shadow: 0px 0px 38px #e8e8e8;*/
  box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
}
#portfolio .portfolio-inner-right .portfolio-box:hover {
  background: #a734fd;
  color: #fff;
  cursor: pointer;
}
#portfolio .portfolio-inner-right .portfolio-box img{
  border-radius: 10px;
}
#portfolio .portfolio-inner-right .portfolio-box .port-caption-cover {
    padding: 1rem 0;
}

/*PORTFOLIO ENDS*/

/*REVIEWS Starts*/
#REVIEWS{
  padding-top: 6.2rem;
  padding-bottom: 4rem;
  color: #2c3c50;
  background: #fff !important;
}
#REVIEWS .review-header{
  padding-top: 0rem; 
  padding-bottom: 2rem;
}
#REVIEWS .review-header h2{
  font-size: 2.2rem;
  font-weight: 600;
}
#REVIEWS .review-header span.upper-bar{
  padding: 5px;
  height: 8px;
  width: 50px;
  border-top: 5px solid #a734fd;
  display: block;
  margin: 0 auto;
}
#REVIEWS .review-cover .row > div{
  margin-bottom: 30px;
  margin-bottom: 30px;
  padding: 0 1rem;
}
#REVIEWS .review-cover .review-box {
  border-radius: 12px;
  /*height: 315px;*/
  border: 1px solid #ddd;
  padding: 1.5rem;
  box-shadow: 0 7px 24px 0 rgba(0,0,0,.06);
  transition: all 0.2s ease-in-out;
}
#REVIEWS .review-cover .review-box:hover {
  cursor: pointer;
  border: 1px solid #2c3c50;
}
#REVIEWS .review-cover .review-box:hover p.tweet i{
  color: #2c3c50;
}
#REVIEWS .review-cover .review-box .review-inner {
  width: 100%;
  display: inline-block;
  padding-bottom: 20px; 
  border-bottom: 1px solid #ddd;
}
#REVIEWS .review-cover .review-box p.tweet i{
  font-size: 28px;
  margin-right: 8px;
  color: #a734fd;
  transition: all 0.2s ease-in-out;
}
#REVIEWS .review-cover .review-box img{
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  width: 40px;
  float: left;
  margin-right: 10px;
}
#REVIEWS .review-cover .review-box span{
  display: block;
  margin-left: 20px;
  font-weight: 600;
}
#REVIEWS .review-cover .review-box span:last-child{
  font-size: 14px;
  width: 260px;
  font-weight: lighter;
  color: #aaa;
}
#REVIEWS .review-cover .review-box p{
  padding: 14px 0; 
  font-size: 14px;
  color: #2c3c50;

}
/*REVIEWS Ends*/



/*CHAT BOT*/

/* ScrollBar Customizations */
#chat-inner::-webkit-scrollbar {
  width: 10px;
}
#chat-inner::-webkit-scrollbar-track {
  background: #ddd;
}
#chat-inner::-webkit-scrollbar-thumb {
  background-color: #a734fd;
  border-radius: 30px;
  border: 3px solid #ddd;
}
/* ScrollBar Customizations */


#chatbot .chatbot-inner{
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  z-index: 99;
}
#chatbot .chatbot-inner span { 
  color: rgb(36, 17, 119); 
  display: inline-block;
  text-align: right;
} 
#chatbot .chatbot-inner ::-webkit-input-placeholder { 
  color: #711 
}
#chatbot .chatbot-inner #main { 
  position: absolute;
  bottom: 0%;
  right: -10px;
  width: 270px;
  border: 0px solid #421;
  padding: 27px 0px 70px 0px;
  border-radius: 10px;
  background: #a734fda6;
  background: #2048b4;
  color: #fff;
  box-shadow: 0px 0px 16px #e8e8e8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
  height: 400px;
  transition: all 0.28s ease-in-out;
}
#chatbot .chatbot-inner #main span.chat-head {
    padding: 0 10px 0 14px;
    top: 10px;
    display: inline-block;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
} 
#chatbot .chatmain{
  margin-bottom: -450px;
  /*margin-right: -190px;*/
}
#chatbot #chat-inner{
  background-color:  #f5f5f5;
  position: absolute;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  bottom: 50px;
  padding: 0px 0px 0px 10px;
}
#chatbot button.open-chatbot{
  position: absolute;
  right: 0;
  bottom: 0;
}
#chatbot .chatpopup{ 
  margin-bottom: -4px !important;
}
#chatbot .chatbot-inner #main div.chatbox { 
  margin: 10px;
  position: absolute;
  bottom: -3px;
  right: 16px;
  width: 84%; 
}
#chatbot .chatbot-inner #input { 
  width: 100%;
  max-width: 264px;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid #ddd;
  /*box-shadow: 0px 0px 16px #d2cbcb;*/
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 40px;
}
#chatbot .chatbot-inner #input:focus{
  outline: 0;
  border: 1px solid #a734fd;
}
#chatbot .chatbot-inner #main div#user, #chatbot .chatbot-inner #main div#bot { 
  padding: 6px;
  padding-right: 16px;
  border-radius: 10px;
  font-size: 14px;
  margin: 4px 0;
  display: table;
  width: 100%;
}
#chatbot .chatbot-inner #main div#user{
 text-align: right;
}
#chatbot .chatbot-inner #main div#bot {
  text-align: left;
} 
#chatbot .chatbot-inner #main div#user i{
  font-size: 24px;
  margin-right: 6px;
  color: #555;
}
#chatbot .chatbot-inner #main #bot img {
  width: 30px;
  margin-right: 3px;
  border-radius: 30px;
  border: 1px solid #55555545;
}
#chatbot .chatbot-inner #user span#user-response,#chatbot .chatbot-inner #bot span#bot-response  {
  padding: 8px 14px;
  border-radius: 10px;
  display: inline;
}
#chatbot .chatbot-inner #user span#user-response {
  background: #e8e8e8;
  margin-right: 0px;
} 
#chatbot .chatbot-inner #bot span#bot-response {
  background: antiquewhite;
  display: inline-block;
  text-align: left;
}
#chatbot button.open-chatbot {
  width: 68px;
  border-radius: 40px;
  padding: 8px 0px;
  font-size: 35px;
  font-weight: 100;
  color: #fff;
  background: #a734fd;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px, rgba(0, 0, 0, 0.16) 0px 2px 32px 0px;
  transition: all 0.2s ease-in-out;
}
#chatbot button.open-chatbot:hover {
  background: #2048b4;
  box-shadow: #0000004a 0px 5px 40px;
}
#chatbot button.close-chatbot {
    padding: 5px 12px;
    font-size: 26px;
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 99;
}
#chatbot button.close-chatbot:hover i{
  background: #efedf5;
  border-radius: 20px;
}
button.close-chatbot.focus,button.close-chatbot:focus {
    box-shadow: 0 0 0 1px rgba(0,123,255,.25);
}
/*CHAT BOT*/



@media only screen and (max-width: 1340px){
  #myVideo {
    max-width: 168% !important;
  }     
}


@media only screen and (max-width: 1040px){   
 .my-navbar{
    display: none;
  }
  .theme-changer-popup .outer-popup .icon {
    display: block;
  }
}

@media only screen and (max-width: 768px){
  #myVideo{
    top: 0 !important;
    max-width: 320% !important;
    z-index: -100 !important;
    min-height: 100% !important;
    left: auto !important;
    right: auto !important;
  }
  header .header-img-right1 {
    margin-top: 10px;
  }
  #yourneed {
    padding-top: 2rem;   
  }
  #solution {
    padding-top: 2.3rem;
  }
  .need-box {
    margin-bottom: 30px;
  }
  .yourneed-inner-right .row div:nth-child(2) .need-box,
  .yourneed-inner-right .row div:nth-child(4) .need-box{
    margin-top: 0px;
  }
  .owl-carousel .owl-item img {
    width: 90%;
  }
  #port-mobile-tab .portfolio div h1.port-title, #port-web-tab .portfolio div h1.port-title {
    font-size: 1.2rem;
    padding: 30px 2px 0px 2px;
  }
  #NEWPORTFOLIO .owl-carousel .owl-nav button.owl-next,
  #NEWPORTFOLIO  .owl-carousel .owl-nav button.owl-prev{
    position: unset;
    margin-top: -30px;
    margin-bottom: 30px;
  }


  #portfolio .portfolio-inner-right .row > div {
    padding: 16px 0;
  }
  .my-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 567px){      
.intro {
    padding: 8rem 0 0 0.8rem;
  }
  header{
    background-position: top;
    background-size: 182%;
  }
  #yourneed {
    padding-bottom: 0;
  }
  .yourneed-inner-left {
    padding: 2rem 0rem;
  }
  .yourneed-inner-right .row > div {
    padding: 0;
  }
  .yourneed-inner-right .row >div:last-child .need-box{
    margin-bottom: 0;
  }
  #solution .solution-carousel .owl-item .solution-item {
    height: 195px;
    padding: 1rem;
  }
  #solution .solution-carousel .owl-item{
    margin-left: -1px;
  }
  #port-mobile-tab img.comp-img-dev {
    width: 150px;
    right: 0px;
    top: 20px;
  }
  #port-mobile-tab .nav-link {
    padding: 4px 0px;
    width: 100%;
    max-width: 98px;
  }
  #port-mobile-tab .nav-link >p {
    font-size: 14px; 
  }

  /*//portfolio page*/
  #portfolio .portfolio-cover > .row >div {
    padding: 0;
  }
  .my-column img {
    margin-top: 22px;
    padding: 0 10px;
  }
   .my-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }
  #port-mobile-tab .nav-tabs .nav-item, #port-web-tab .nav-tabs .nav-item {
    text-align: center;
    padding: 0.5rem 0.5rem 0 1rem;
  }
  .port-content-full.container-fluid #port-mobile-owl-ios .row {
    padding: 0;
  }
  .port-content-full.container-fluid #port-mobile-owl-ios .row > div,
  .port-content-full.container-fluid #port-mobile-owl-ios .row > div > div{
    padding: 0;
  }
  .port-web-owl .owl-stage-outer {
    padding: 5rem 0;
  }
  #portfolio {
    padding: 0rem 0 2rem 0;
  }
  /*//portfolio page*/
}

@media only screen and (max-width: 360px){
  .intro .intro-inner span.heading-cover h1 {
    font-size: 3rem;
  }
}          



/*//Animista Flicker//*/
.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
  animation-iteration-count: 2;
}
/*//Animista Flicker//*/
/*//Animista Drop Shadow//*/
.text-shadow-drop-bottom{-webkit-animation:text-shadow-drop-bottom .6s both;animation:text-shadow-drop-bottom .6s both}
/*//Animista Drop Shadow//*/
